<html>
<title>Buy NFT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
<body>

    <div class="w3-top">
        <div class="w3-bar w3-2021-inkwell w3-wide w3-padding w3-card">
            <div class="w3-left w3-hide-small">
                <a href="#home" class="w3-bar-item w3-text-lime w3-button w3-hover-lime w3-hover-text-2021-inkwell">
                    <b>
                        NFT
                    </b> 
                </a>
            </div>
            <div class="w3-right w3-hide-small">
                <a href="#shop" class="w3-text-lime w3-bar-item w3-button w3-hover-lime w3-hover-text-2021-inkwell">Shop</a>
                <a href="#how to buy" class=" w3-text-lime w3-bar-item w3-button w3-hover-lime w3-hover-text-2021-inkwell">How to buy</a>
        </div>
    </div>

    <div class="w3-content w3-padding" style="max-width:1564px">
        <div class="w3-container w3-padding-32" id="shop">
            <h3 class="w3-border-bottom w3-text-2021-inkwell w3-border-2021-inkwell w3-padding-16">
                Shop
            </h3>
        </div>
    </div>
    <div class="w3-row-padding">
        <ul id="pictures">
            {% for picture in pictures %}
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card-4" style="width:90%">
                    <div class="w3-container">
                        <img src={{ "../result/" + picture["name"] }} alt="Picture" style="width:100%">
                    </div>
                    <button class="w3-button w3-block w3-text-lime  w3-2021-inkwell w3-hover-lime  w3-hover-text-2021-inkwell">Buy</button>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>

</body>
</html>